{% extends "base.html" %}
{% block title %}User Management{% endblock %}
{% block content %}

<!-- display users -->
<div class="container mt-4">
    <div class="d-flex align-items-center">
        <h2 class="me-2">User Management</h2>
    </div>
    <div class="pt-3">
        <ul class="nav nav-underline mb-4">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if not request.args.get('staff_only') and not request.args.get('blocked_only') else '' }}" href="?staff_only=">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.args.get('staff_only') else '' }}" href="?staff_only=True">Editor & Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.args.get('blocked_only') else '' }}" href="?blocked_only=True">Blocked Users</a>
            </li>
        </ul>
        {% if users %}
        {% if not request.args.get('staff_only') or not request.args.get('blocked_only')%}
        <form action="{{ url_for('users') }}" method="get">
            <div class="d-flex mb-3">
            <input type="text" class="form-control me-2" placeholder="Search users..." name="q" value="{{ request.args.get('q', '') }}">
            <button class="btn btn-primary" type="submit" id="search">Search</button>
            </div>
        </form>
        {% endif %}
        <div class="table-responsive ">
            <table class="table bg-tuo text-blue align-middle">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="d-flex">
                                <div class="w-25 pe-2"></div>
                                <span>Username</span>
                            </div>
                        </th>
                        <th scope="col">Email</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td scope="row">
                            <div class="d-flex align-items-center">
                                <div class="w-25 pe-2 d-flex justify-content-center"><img class="rounded" width="50" height="50" src="{{ user_profile_image(user) }}" /></div>
                                <a href="{{ url_for('view_profile', user_id=user.user_id) }}"><span>{{ user.username }}</span></a>
                            </div>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td><span class="badge text-bg-{{role_badges_mapping[user.role]}}">{{ user.role }}</span></td>
                        <td><span class="badge text-bg-{{status_badges_mapping[user.status]}}">{{ user.status }}</span></td>
                        <td><a href="{{ url_for('view_profile', user_id=user.user_id) }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ current_page - 1 }}&q={{ request.args.get('q', '') }}&staff_only={{ request.args.get('staff_only', '') }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page in range(1, total_pages + 1) %}
            <li class="page-item {% if page == current_page %}active{% endif %}">
                <a class="page-link" href="?current_page={{ page }}&q={{ request.args.get('q', '') }}&staff_only={{ request.args.get('staff_only', '') }}">{{ page }}</a>
            </li>
            {% endfor %}
            {% if current_page < total_pages %}
                <li class="page-item">
                    <a class="page-link" href="?current_page={{ current_page + 1 }}&q={{ request.args.get('q', '') }}&staff_only={{ request.args.get('staff_only', '') }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
        <p class="text-center">No user found.</p>
    {% endif %}
    </div>  
</div>
{% endblock %}
